.sidebar{
    width: 250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 20px auto 0 auto;
    /* box-shadow: 0 0 6px hsl(210 14% 90%); */
  }
  #tweet{
    width: 100%;
    height: 50px;
    background-color: hsl(203, 89%, 64%);
    border-radius: 20px;
    color: white;
    font-size:large;
    text-transform: inherit;
  }
  .account{
    width:100%;
    height: 6.5vh;
    margin-top: 3.5rem;
    margin-left: 5%;
    border-radius: 20px;
    /* border: 1px solid rgb(219, 218, 218);   */
    display: flex;
    flex-direction: row; 
    /* padding: 0.3rem; */
    align-content: center;
}
.account:hover{
    background-color:rgb(236, 233, 233);
}
.pfp{
    /* align-self: center; */
    background-color: rgb(32, 145, 101);
    width:15%;
    margin-left: 1rem;
    height: 5vh;
    border-radius: 47%;
    color: white;
    text-align: center;
    font-size: large;
    /* flex:1; */
}
.id{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex:2;
}
.name{
    font-weight: bold;
    font-size: large;
    width: 120px;
}
.uname{
    color:grey;
}
.opt{
    margin-left: 3rem;
    align-content: center;
    flex:1;
}